.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.ellipseOne {
  position: absolute;
  width: 835px;
  height: 835px;
  left: 613px;
  top: -142px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  z-index: 0;
}

.heroImage {
  width: 40%;
  position: absolute;
  top: 12%;
  z-index: 0;
  opacity: 0.8;
  animation: bounce 3s ease-in-out infinite;
}

.title {
  font-family: "Fahkwang";
  font-style: normal;
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;

  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 35.94%,
    #ffffff 68.75%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 1;
}

.subtitleContainer {
  width: 100%;
  position: relative;
}

.fadeLeft {
  position: absolute;
  width: 50%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.fadeRight {
  position: absolute;
  width: 50%;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 5;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.subtitle {
  display: block;
  width: 100%;
  transform: translateX(100%);
  animation: move 20s linear infinite;

  font-family: "Fahkwang";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 66px;
  white-space: nowrap;
  z-index: 1;
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.connectButton {
  position: absolute !important;
  bottom: 14%;
  width: 227px !important;
  height: 50px !important;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to bottom right, rgb(207, 207, 207), rgb(28, 28, 28))
      border-box !important;
  border-radius: 50px !important;
  border: 1px solid transparent !important;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}

.connectButton:hover {
  opacity: 1;
}

.tokenImage {
  height: 300px;
}

.collectionImage {
  height: 300px;
}

.description {
  width: 300px;
  text-align: center;
  padding-bottom: 1rem;
}

.button {
  font-weight: 400 !important;
  width: 240px !important;
  height: 56px !important;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to bottom right, rgb(207, 207, 207), rgb(28, 28, 28))
      border-box !important;
  border-radius: 50px !important;
  border: 1px solid transparent !important;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.optionContainer {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  padding: 0 6rem;
  z-index: 1;
}

.optionContainer:hover {
  opacity: 1;
}

.divider {
  width: 0.5px;
  height: 221px;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    #d9d9d9 33.33%,
    #d9d9d9 65.1%,
    rgba(217, 217, 217, 0) 100%,
    rgba(217, 217, 217, 0) 100%
  );
}
