.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.tokenContainer {
  width: 444px;
  background: #000000;
  border: 0.5px solid #363636;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
  border-radius: 20px;

  background: linear-gradient(black, black) padding-box,
    linear-gradient(to bottom right, rgb(60, 60, 60), rgb(0, 0, 0)) border-box !important;
  border-radius: 50px !important;
  border: 1px solid transparent !important;

  overflow: hidden;
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.image {
  width: 100%;
}

.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: #ffffff;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 10px;

  color: #bdbdbd;
}

.explorerIcon {
  opacity: 0.9;
  width: 25px;
  height: 25px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.explorerIcon:hover {
  opacity: 1;
}

.ipfsIcon {
  opacity: 50%;
  width: 30px;
  height: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.ipfsIcon:hover {
  opacity: 80%;
}

.webIcon {
  opacity: 50%;
  width: 24px;
  height: 24px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.webIcon:hover {
  opacity: 80%;
}

.tokenDetailContainer {
  width: 100%;
  align-items: flex-start !important;
  padding: 1rem 2rem 0 2rem;
}

.fieldContainer {
  align-items: flex-start !important;
}

.fieldContainerPadded {
  align-items: flex-start !important;
  width: 100%;
  padding: 0.2rem 0;
}

.header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: #bdbdbd;
}

.value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #bdbdbd;
}

.divider {
  width: 221px;
  height: 0.5px;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0) 0%,
    #d9d9d9 33.33%,
    #d9d9d9 65.1%,
    rgba(217, 217, 217, 0) 100%,
    rgba(217, 217, 217, 0) 100%
  );
  opacity: 0.5;
}
